.slide {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  .slide.active {
    opacity: 1;
  }

/* Sfondo semi-trasparente per lo spinner */
#loading-spinner {
  background-color: rgba(255, 255, 255, 0.8); /* Sfondo semi-trasparente */
}

/* Stile dello spinner */
.spinner {
  width: 64px;
  height: 64px;
  border: 8px solid #f3f3f3; /* Grigio chiaro */
  border-top: 8px solid #d91919e1;
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Animazione di rotazione */
}

/* Definizione dell'animazione */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

#onboarding-overlay {
  display: none; /* Inizialmente nascosto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

#onboarding-overlay .bg-white {
  position: relative;
  background: white;
  padding: 2rem;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* Distanza tra i bottoni */
  align-items: center; /* Centra i bottoni orizzontalmente */
  justify-content: center; /* Centra i bottoni verticalmente */
}

.question-container.hidden {
  display: none;
}

#progress-bar {
  height: 5px;
  background: linear-gradient(to right, #ff0000, #0d0600);
  width: 0;
  transition: width 0.5s;
}

.responsive-overlay > div {
  max-width: lg; /* O il valore desiderato */
  padding: 2rem;
  overflow-y: auto; /* Aggiungi la scrollbar verticale quando necessario */
  max-height: 90vh; /* Imposta un'altezza massima per il contenitore */
}

/* Media query per schermi molto piccoli (es. smartphone in verticale) */
@media (max-width: 400px) {
  .responsive-overlay > div {
      max-width: 95%;
      padding: 1rem;
      max-height: 80vh; /* Riduci l'altezza massima per schermi ancora più piccoli */
  }
}

/* Media query per schermi piccoli (es. tablet) */
@media (max-width: 768px) {
  .responsive-overlay > div {
      max-width: 90%;
      padding: 1.5rem;
      max-height: 95vh; /* Aumenta leggermente l'altezza massima per i tablet */
  }
}

#spacer {
  height: 10px; /* Altezza dello spazio desiderato */
  background-color: transparent; /* Rende lo sfondo trasparente, quindi è solo spazio */
}